Body {
  /* background-color: black; */
  display: flex;
  justify-content: center;
}

.App {
  /* display: flex; */
  background-color: black;
  /* align-content: center; */
}

.Calculator {
  background-color: blue;
}

.Display {
  background-color: darkgray;
}

.Buttons-Container {

}

.Button-Row {
  display: flex;
  flex-direction: row;

}

.Button {
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

