Body {
  /* background-color: black; */
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.App {
  padding-top: 50%;
  /* align-content: center; */
}

.Calculator {
  background-color: blue;
  /* top: 50%; */
  
}

.Display {
  background-color: darkgray;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Buttons-Container {

}

.Button-Row {
  display: flex;
  flex-direction: row;

}

.Button {
  height: 4em;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

